.outer-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.input-container {
    display: flex;
    flex-wrap: wrap;
}

.ing-buttons{
    display: flex;
    flex-direction: row;
    align-content: center;
}
.ingredients-container {
    margin: 1em;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    border: 1px solid black;
    justify-content: space-between;
    
    /* width: 30vw; */
    flex-basis: 50%;
	flex-basis: 200px;
    box-shadow: 0.3rem 0.3rem 0.6rem rgb(172, 169, 169), -0.2rem -0.3rem 0.5rem rgb(255, 255, 255);
}

.ingredients-inner-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.ingredient {
    margin: .5em;
    width: 12em;
}


.amount {
    width: 12em;
    margin: .5em;
    
}