.outer-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    border: 0;
}

.input-container {
    display: flex;
    
}

.ing-buttons{
    display: flex;
    flex-direction: row;
    align-content: center;
}

.ingredients-inner-container {
    display: flex;
    
    flex-direction: row;
    justify-content: center;
}

.ingredient {
    margin: .5em;
    width: 15vw;

}


.amount {
    width: 4em;
    margin: .5em;
    
}