.outer-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    border: 0;
}

.input-container {
    display: flex;
    
}

.ing-buttons{
    display: flex;
    flex-direction: row;
    align-content: center;
}

.ingredients-inner-container {
    display: flex;
    
    flex-direction: row;
    justify-content: center;
}
/* box containing ingredient list */
.ingredients {
    box-shadow: 0.3rem 0.3rem 0.6rem rgb(172, 169, 169), -0.2rem -0.3rem 0.5rem rgb(255, 255, 255);
}
/* single ingredient */
.ingredient {
    margin: .5em;
    width: 15vw;

}


.amount {
    width: 4em;
    margin: .5em;
    
}