.recipe-container {
    display: flex;
    flex-direction: column; 
}

.image-container {
    width: 40vw;
    height: 40vw;
    overflow: hidden;
    position: relative;
    background: rgba(236, 230, 230, 0.5);
    margin: 10px 0;
    box-shadow: 0.3rem 0.3rem 0.6rem rgb(172, 169, 169);
    border-radius: 5px;
    
}

.parent {
    display: flex;
    flex-direction: row;
}

.bubbles {
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
}
.minutes {
    flex-direction: row-reverse;
    justify-content: center;
    text-align: center;
    margin: .5em;
    padding: .5em;
    box-shadow: 3px 3px 8px 0px, -3px -1px 4px 1px rgb(207, 203, 203);
    border-radius: 25px;
    font-size: 1vw;
    align-items: center;
    display: flex;
    max-width: 3vw;
    max-height: 2vw;
    background-color: rgb(252, 252, 252);

}
.post-image {
    width: 100%;
    height: auto;
}

.recipe-div {
    display: flex;
    flex-direction: column;
    padding: 2em;
    margin: 1em 5em;
    align-items: center;
    box-shadow: 3px 3px 8px 0px;
    border-radius: 15px;
    /* border: 1px solid black; */

}

.recipe-div:nth-child(even) {
    background-color: #f0ebebd7
}
.recipe-div:nth-child(odd) {
    background-color: rgba(223, 223, 240, 0.178);
}

.story {
    /* border: 1px solid black; */
    box-shadow: 1px 2px 5px;
    border-radius: 3px;
    border-radius: 15px;
    padding: 2em 4em;
    margin: 15px;
}

.story h3 {
    text-align: center;
}

.recipe-list-header {
    text-align: center;
    font-size: 1.8em;
    border-top: 1px solid black;
    height: 100%;
}

a {
    text-decoration: rgb(105, 57, 57) underline;
    color: rgb(54, 52, 52);
}
.post-title {
    font-size: 4vw;
    border-radius: 15px;
    padding: .5em .2em;
    margin: 0;
    display: flex;
    
    box-shadow: 0.3rem 0.3rem 0.6rem rgb(172, 169, 169), -0.2rem -0.3rem 0.5rem rgb(255, 255, 255);
}


.favorite-button {
    width: 2em;
    /* converts black svg into red */
    filter: invert(57%) sepia(14%) saturate(4851%) hue-rotate(308deg) brightness(91%) contrast(98%);
}

.postButtons {
    display: flex;
    flex-direction: row-reverse;
}

/* small screens */
@media screen and (max-width: 600px) {
    .recipe-div {
        margin: 7px;
    }
    .post-title {
        font-size: 7vw;
    }
    .minutes {
        min-height: 6vw;
        min-width: 6vw;
        font-size: 2vw;
        
    }
    
    
}
/* big screens */
@media screen and (min-width: 1400px) {
    .main-container {
        padding: 3vw
    }
    .post-title {
        font-size: 3vw;
    }
    .recipe-container {
        margin: 7vw;
    }
    .recipe-title {
        font-size: 4vw;
    }
  }