.recipe-container {
    display: flex;
    flex-direction: column; 
}

.image-container {
    width: 40vw;
    height: 40vw;
    overflow: hidden;
    position: relative;
    background: rgba(236, 230, 230, 0.5);
    margin: 10px 0;
    box-shadow: 0.3rem 0.3rem 0.6rem rgb(172, 169, 169);
    border-radius: 5px;
    
}

.parent {
    display: flex;
    flex-direction: row;
}
.minutes {
    flex-direction: row-reverse;
    justify-content: center;
    margin: .5em;
    padding: .5em;
    box-shadow: 3px 3px 8px 0px;
    border-radius: 25px;
    font-size: x-small;
    align-items: center;
    display: flex;
    width: 6em;
    max-height: 2em;
    background-color: rgb(252, 252, 252);
}
.post-image {
    width: 100%;
    height: auto;
}

.recipe-div {
    display: flex;
    flex-direction: column;
    padding: 2em;
    margin: 1em 5em;
    align-items: center;
    box-shadow: 3px 3px 8px 0px;
    border-radius: 5px;
    border: 1px solid black;

}

.recipe-div:nth-child(even) {
    background-color: rgb(216, 234, 241);
}
.recipe-div:nth-child(odd) {
    background-color: rgba(241, 236, 235, 0.521);
}

.story {
    border: 1px solid black;
    box-shadow: 1px 2px 5px;
    border-radius: 3px;
    margin: 1em;
    padding: 2em 4em;
}

.story h3 {
    text-align: center;
}

.recipe-list-header {
    text-align: center;
    font-size: 1.8em;
    border-top: 1px solid black;
    height: 100%;
}

a {
    text-decoration: rgb(105, 57, 57) underline;
    color: rgb(54, 52, 52);
}
.post-title {
    font-size: 2em;
    border-radius: 15px;
    padding: .5em .8em;
    margin: 0;
    display: flex;
    box-shadow: 0.3rem 0.3rem 0.6rem rgb(172, 169, 169), -0.2rem -0.3rem 0.5rem rgb(255, 255, 255);
}

.favorite-button {
    width: 2em;
    /* converts black svg into red */
    filter: invert(57%) sepia(14%) saturate(4851%) hue-rotate(308deg) brightness(91%) contrast(98%);
}

.postButtons {
    display: flex;
    flex-direction: row-reverse;
}

@media screen and (max-width: 600px) {
    .recipe-div {
        margin: 7px;
    }
    }