

.step-container {
    display: flex;
    
    flex-direction: row;
    justify-content: center;

}

.steps {
    padding: .5em;
    margin: 1em;
    align-content: space-between;
    box-shadow: 0.3rem 0.3rem 0.6rem rgb(172, 169, 169), -0.2rem -0.3rem 0.5rem rgb(255, 255, 255);
}
.new-steps{
    display: flex;
    flex-wrap: wrap;
}
.step {
    margin: .5em;
    width: 15vw;
}
.steps-container {
    background-color: rgba(241, 236, 235, 0.521);;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    
    padding: 2em;
    flex-basis: 50%;
	flex-basis: 400px;
    width: 45%;
    box-shadow: 0.3rem 0.3rem 0.6rem rgb(172, 169, 169), -0.2rem -0.3rem 0.5rem rgb(255, 255, 255);
}
.wrapper {
    display: flex;
    flex-wrap: wrap;
}
.number {
    width: 5em;
    margin: .5em;
}
/* buttons */

.add-step {
    background-color: #b3d5eb;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 30px;
    height: 1.3em;
    box-shadow: 0.3rem 0.3rem 0.6rem rgb(172, 169, 169), -0.2rem -0.3rem 0.5rem rgb(255, 255, 255);
    margin-right: .7em;
}

.delete-step {
    background-color: #e4b6c0;
    width: 2em;
    border: none;
    height: 1.2em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 6px 2px;
    border-radius: 5px;
    box-shadow: 0.3rem 0.3rem 0.6rem rgb(172, 169, 169), -0.2rem -0.3rem 0.5rem rgb(255, 255, 255);

}
@media screen and (max-width: 600px) {
    .listing {
        font-size: 5vw;
    }
    
    }