.home-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}
.home-page-title {
    /* border: 1px solid black; */
    padding: 3% 5%;
    box-shadow:  inset 0.3rem 0.1rem 0.3rem rgb(172 169 169), 0.2rem 0.3rem 0.5rem rgb(255 255 255);
    font-size: 200%;
    color: rgb(70, 41, 39);
}
.favorites-container {
    
    margin: 2em;
    padding: 4em;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(241, 236, 235, 0.521);
    box-shadow:  0.5rem 0.2rem 0.9rem rgb(172 169 169), -0.2rem -0.3rem 0.5rem rgb(255 255 255);
}
.favorites-and-recipes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.recipes-container {
    background-color: rgba(241, 236, 235, 0.521);
    margin: 2em;
    padding: 4em;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow:  0.5rem 0.2rem 0.9rem rgb(172 169 169), -0.2rem -0.3rem 0.5rem rgb(255 255 255);
}

.recipes-edit {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.edit {
    display: block;
    background-color: rgb(255, 255, 255);
    width: 4rem;
    height: 2rem;
    padding: .5em;
    text-align: center;
    font-weight: bold;
    line-height: 25px;
    text-decoration: none;
    border: antiquewhite;
    border-radius: 5px;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    margin: .5em;
    color: rgb(62, 65, 65);
    box-shadow: 0.2rem 0.2rem 0.4rem rgb(143, 165, 173);
    justify-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    
}
.delete {
    display: block;
    width: 4rem;
    height: 2rem;
    padding: .5em;
    text-align: center;
    font-weight: bold;
    line-height: 25px;
    text-decoration: none;
    border: antiquewhite;
    border-radius: 5px;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    margin: .5em;
    color: rgb(66, 44, 44);
    box-shadow: 0.2rem 0.2rem 0.4rem rgb(168, 148, 148);
    justify-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: rgb(252, 252, 252);
}

h5 {
    font-size: 1em;
    color: rgb(56, 33, 31);
}
a {
    text-decoration: none;
    color: rgb(56, 33, 31);
    font-weight: bold;
}

.fave {
    font-size: 200%;
    color: rgb(56, 33, 31);
}

.recipes-title {
    font-size: 200%;
    color: rgb(56, 33, 31);
}

div a {
    font-size: 110%;
    color: rgb(56, 33, 31);
}
.buttons-container {
    display: flex;
    flex-wrap: wrap;
}

.likes {
    margin: .5em;
    padding: .2em 1em;
    background-color: white;
    box-shadow: 1px 1px 3px 1px grey, 1px 1px 2px 1px lightgray;
}

.my-recipes {
    margin: .5em;
    background-color: white;
    padding: .2em 1em;
    box-shadow: 1px 1px 3px 1px grey, 1px 1px 2px 1px lightgray;
}