.nav {
    display: flex;
    flex-direction: column;
    align-content: center;
}

.navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-inline-start: 0;
}


.navbar__item {

    list-style-type: none;
    
}

.navbar__link {
    display: block;
    width: 8rem;
    height: 2rem;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    font-weight: bold;
    line-height: 25px;
    text-decoration: none;
    margin: 1em;
    color: rgb(65, 62, 62);
    box-shadow: 0.3rem 0.3rem 0.6rem rgb(172, 169, 169), -0.2rem -0.3rem 0.5rem rgb(255, 255, 255);
    justify-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.3s ease;
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    transition-delay: 0s;
}

.app-title {
    width: 54vw;
    filter: invert(22%) sepia(16%) saturate(0%) hue-rotate(148deg) brightness(105%) contrast(86%);
}

#logout {
    height: 1em;
    width: 3em;
}
.logout-search-container {
    display: flex;
    justify-content: space-between;
    height: auto;
    width: 100%;
}

#logo {
    width: 60%;
    height: auto;
    margin-left: 3em;
}

.navbar__link {
    color: rgb(77, 40, 15);
}

.title-container {
    display: flex;
    justify-content: center;
    
}

.inner-title-container {
    width: auto;
    padding: .5vw;
    margin-top: 3em;
    border: 1px solid whitesmoke;
    box-shadow: inset 0.3rem 0.1rem 0.3rem rgb(172 169 169);
    background-image: linear-gradient(to bottom right, rgb(233, 245, 244), rgb(223, 245, 253));
}

.div-a {
    box-shadow: inset 0.3rem 0.1rem 0.3rem rgb(172 169 169);
    padding: .5vw;
    margin: .5vw;
    border: 1px solid rgb(230, 227, 227);
    background-image: linear-gradient(to bottom right, rgb(255, 254, 254), rgb(208, 231, 240));
}
.div-b {
    box-shadow:  0.4rem 0.4rem 0.4rem rgb(172 169 169);
    display: flex;
    justify-content: center;
    padding: 1vw;
    margin: 1vw;
    border: 1px solid rgb(226, 222, 222);
    background-image: linear-gradient(to bottom, rgb(255, 255, 255), rgb(214, 229, 235));
}